name: Deploy Web

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

env:
  publish_path: './published'
  applicationName: 'webapplication'
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Publish
      run: |
        dotnet publish WebApplication.sln -o ${{ env.publish_path }}
    # Install the dotnet-ef tool which is used to generate migrations and then run a custom dotnet command, which we're choosing to run migrations.
    - name: Generate Migrations
      run: |
          dotnet tool install --global dotnet-ef
          dotnet ef migrations script --idempotent --project WebApplication1/WebApplication1.csproj -o ${{ env.publish_path }}/Migrations/migration.sql
    - uses: actions/upload-artifact@v4
      with:
        name: drop-web
        path: ${{ env.publish_path }}
  deploy:
    runs-on: ubuntu-latest
    needs: build 
    steps:
    # Sparse checkout only the exact files/folders we need.
    - uses: actions/checkout@v4
      with:
        sparse-checkout: |
          iac
          .github/workflows/sql
          .github/workflows/scripts
    # Login to Azure so we can deploy our resources
    - name: Login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ vars.AZURE_WORKFLOW_CLIENT_ID }}
        tenant-id: ${{ vars.AZURE_TENANT_ID }}
        subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
    # First, deploy the infrastructure setup in the bicep file. Our bicep file outputs some variables which are automatically captured and available in ${{ steps.STEP_ID.outputs.VARIABLE_NAME }}
    # APPLICATION_DATABASE_ADMINS_NAME is the name of the group that will be admins.
    # APPLICATION_DATABASE_ADMINS_OBJECT_ID is the object id of that same group.
    - name: Deploy Infra to Azure
      id: deploy-infra
      uses: azure/arm-deploy@v2
      with:
        scope: 'resourcegroup'
        deploymentName: ${{ github.run_number }}
        resourceGroupName: ${{ env.applicationName }}-${{ inputs.ecosystem }}-rg-01
        template: ./iac/main.bicep
        parameters:
          applicationDatabaseAdminsName=${{ vars.APPLICATION_DATABASE_ADMINS_NAME }}
          applicationDatabaseAdminsObjectId=${{ vars.APPLICATION_DATABASE_ADMINS_OBJECT_ID }}
          applicationName=${{ env.applicationName }}
          ecosystem=${{ inputs.ecosystem }}
    # Deploy the database changes. Note that this comes _before_ the web app change so consider the tradeoffs.
    - name: Execute database setup + migrations
      run: |
        bash ./.github/workflows/scripts/database-setup.sh \
          "${{ steps.deploy-infra.outputs.applicationDatabaseServerHostName }}" \
          "${{ steps.deploy-infra.outputs.applicationDatabaseServerDatabaseName }}" \
          "${{ vars.APPLICATION_DATABASE_ADMINS_NAME }}" \
          "${{ steps.deploy-infra.outputs.applicationIdentityName }}" \
          "./.github/workflows/sql/initial-create-postgres-db.sql" \
          "./.github/workflows/sql/initial-create-application-db.sql" \
          "${{ steps.download.outputs.download-path }}/Migrations/migration.sql"
    # Download the artifact produced in the build step.
    - uses: actions/download-artifact@v4
      id: download
      with:
        name: drop-web
    - name: 'Run Azure webapp deploy action using publish profile credentials'
      uses: azure/webapps-deploy@v3
      with: 
        app-name: webapplication
        slot-name: 'production'
        package: .